// 變數

// 主要色票
$primary: #5BC2DC;
$secondary: #CCCCCC;
$red: #CF0A2C;
$white: #FFFFFF;
$disabled: #767676;

// 字級色票
$body-text: #000000;

// disabled 按鈕色票
$disabled-bg: $secondary;
$disabled-text: $disabled;

// 圓角卡片色票
$round-card: #F6F6F6;
