# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.plugin-practice.iml
# Datasource local storage ignored files
/../../../../../../../:\programPractice\ReactToolPractice\plugin-practice\.idea\.idea.plugin-practice.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
