# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.wwwroot.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\FreelancerCase\suntory\wwwroot\.idea\.idea.wwwroot.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
